<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringNW" connectionString="Data Source = SARIMANOK\HYDRASERVER; Initial Catalog = Northwind; Persist Security Info = True; User ID = SA; Password = system123" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>